@import "tailwindcss";

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001F;
  --font-ovo: 'Ovo', serif;
}

@utility shadow-black {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

@utiliy shadow-white {
  box-shadow: 4px 4px rgba(255, 255, 255, 0.25)
}

body {
  font-family: 'Outfit', sans-serif;
}
